ion-content {
  --background: translucent;
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

.appIcon {
  width: 30px;
}

.appTitle {
  font-weight: bolder;
}

.appDate {
  text-align: right;
  font-weight: bolder;
}

.countryTitle {
  color: darkblue;
  text-align: right;
}

.selectTitle {
  color: darkblue;
  text-align: left;
}

ion-select {
  padding: 0px;
  max-width: 80%;
}

.changeButton {
  color: darkblue;
  text-align: center;
  font-size: 12px;
}
