ion-content ion-toolbar {
  --background: translucent;
}aion-content {
  --background: translucent;
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

.appIcon {
  width: 30px;
}

.appTitle{
  font-weight: bolder;
}

.appDate {
  text-align: right;
  font-weight: bolder;
  font-family: fantasy;
}

.pageTitle {
  color: darkblue;
  text-align: center;
}