ion-content {
  --background: translucent;
}

ion-toolbar {
  --background: var(--ion-color-primary);
}

.appIcon {
  width: 30px;
}

.appTitle {
  font-weight: bolder;
}

.pageTitle {
  color: darkblue;
  text-align: center;
}

.appDate {
  text-align: right;
  font-weight: bolder;
}

.newsImage {
  width: 100%;
  height: 100%;
}

.newsTitle {
  color: rebeccapurple;
}

.newsSource {
  text-align: center;
}

.newsContent {
  color: black;
}
