ion-content {
  --background: translucent;
}

ion-toolbar {
  --background: var(--ion-color-apptheme);
}

.appIcon {
  width: 30px;
}

.appTitle {
  font-weight: bolder;
}

.appDate {
  text-align: right;
  font-weight: bolder;
  font-family: fantasy;
}

.newsImage {
  width: 100%;
  height: 100%;
}
